h1{
  text-align: center;
}

grid{
   display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-temgrouplate-rows: repeat(5, 1fr);
    grid-gap: 5px;
    border: solid red 2px;
    justify-content: space-evenly;
    margin: 10%;
    background-color: blue;
    weight: 100px;
    height: 100px
}

.category{
  font-size: 20px;
   color: black;
   background-color: black;
   border: solid black 1px;
   padding: 10px;
}

.content{
    text-align: center;
    font-size: 25px;
    margin: auto;
}
